.\31 {
  background: linear-gradient(60deg,#3266cd,#6289d7,#3266cd);
  width: 445px;
  height: 80px;
  position: absolute;
  color: #fff;
  font-family: segoe ui;
  filter: blur(0.5px);
}
.\32 {
  margin-left: 16px;
  font-size: 24px;
  margin-top: 12px;
  height: 27px;
  font-weight: 500.01;
}
.\33 {
  margin-left: 127px;
  font-weight: 350;
  font-size: 18;
  letter-spacing: 0.47;
}
